*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://w0.peakpx.com/wallpaper/818/148/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg');
    height: 100vh;
}
.navbar{
    background-color: black;
}

.chat-box{
    display: flex;
    justify-content: center;
    height: 100%;
}
.col{
    background-color: white;
    padding: 0;
}
#chats{
    height: 100vh;
    padding: 0 0.5rem;
    overflow-y: auto;
}
.chat{
    overflow-wrap: break-word;
    border-radius: 10px;
   background: #198754;
   margin: 1rem;
   padding: 1rem;
   color: white;
   list-style: none;
}
.chat-nav{
    width: 100%;
    font-weight: lighter;
    background-color: #075e54;
    text-align: center;
    color: white;
}
.chat-nav h1{
    font-weight: 400;
}
form{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    gap: 1rem;
    background: #075e54;
}